@{
    ViewBag.Title = "Home Page";
}
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>"People travel to faraway places to watch, in fascination, the people they ignore at home."</h1>
                    <h2>Like all great travellers,  <br> I have seen more than I remember, and remember more than I have seen.</h2>
                    @*<div class="buttons">
                            <a href="https://themefisher.com/products/themelight-bootstrap-business-one-page-website-template/" target="_blank" class="btn btn-learn">Purchase Now</a>
                            <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank" class="btn btn-learn">View More</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="scrolldown">
        <a id="scroll" href="#features" class="scroll"></a>
    </div>
</section>


@*<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Hotels</h2>
                    <p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-6 col-sm-6">
                <div class="feature-block text-center">
                    <div class="icon-box">
                        <i class="ion-easel"></i>
                    </div>
                    <h4 class="wow fadeInUp" data-wow-delay=".3s">Responsive Design</h4>
                    <p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 col-sm-6">
                <div class="feature-block text-center">
                    <div class="icon-box">
                        <i class="ion-paintbucket"></i>
                    </div>
                    <h4 class="wow fadeInUp" data-wow-delay=".3s">Outstanding Animation</h4>
                    <p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 col-sm-6">
                <div class="feature-block text-center">
                    <div class="icon-box">
                        <i class="ion-paintbrush"></i>
                    </div>
                    <h4 class="wow fadeInUp" data-wow-delay=".3s">Unlimited Colors</h4>
                    <p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>
        </div>
    </div>
</section>*@
@Html.Action("OurTeam")

<section id="counter">
    <div class="container">
        <div class="row">
            <div class="title">
                <h2>FUN FACTS</h2>
                <p>
                    Everywhere has something interesting, it's just about being curious enough to find it and scratch
                    <br>  where you have to scratch and stay longer and walk further.
                </p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s">
                    <i class="ion-code"></i>
                    <p class="count-text">
                        <span class="counter-digit">136800 </span> k
                    </p>
                    <p>Lines Coded</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="block wow fadeInRight" data-wow-delay=".5s">
                    <i class="ion-compass"></i>
                    <p class="count-text">
                        <span class="counter-digit">7800 </span> +
                    </p>
                    <p>Lines Coded</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="block wow fadeInRight" data-wow-delay=".7s">
                    <i class="ion-compose"></i>
                    <p class="count-text">
                        <span class="counter-digit">399</span>
                    </p>
                    <p>Lines Coded</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="block wow fadeInRight" data-wow-delay=".9s">
                    <i class="ion-image"></i>
                    <p class="count-text">
                        <span class="counter-digit">9995</span>
                    </p>
                    <p>Lines Coded</p>
                </div>
            </div>
        </div>
    </div>
</section>



@Html.Action("Gallery")

<section id="play-video">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="wow fadeInUp" data-wow-delay=".3s">Video of Pakistan</h2>
                    <p class="wow fadeInUp" data-wow-delay=".5s">Places You Must Vist in Pakistan </p>
                    <a href="~/Content/Vedio/Pakistani tourist spots you must visit.mp4" class="html5lightbox" data-width=800 data-height=400>
                        <div class="button ion-ios-play-outline wow zoomIn" data-wow-delay=".3s"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Action("News")


@Html.Action("Events")

@Html.Action("UpcomingEvents")


@Html.Action("Hotels")
<br />
@Html.Action("Camps")





@*<section id="client-logo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div id="Client_Logo" class="owl-carousel">
                        <div>
                            <a href="#"><img class="img-responsive" src="~/Content/img/clientLogo/client-logo1.jpg" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img class="img-responsive" src="~/Content/img/clientLogo/client-logo2.jpg" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img class="img-responsive" src="~/Content/img/clientLogo/client-logo3.jpg" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img class="img-responsive" src="~/Content/img/clientLogo/client-logo4.jpg" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img class="img-responsive" src="~/Content/img/clientLogo/client-logo5.jpg" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img class="img-responsive" src="~/Content/img/clientLogo/client-logo6.jpg" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img class="img-responsive" src="~/Content/img/clientLogo/client-logo1.jpg" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img class="img-responsive" src="~/Content/img/clientLogo/client-logo2.jpg" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img class="img-responsive" src="~/Content/img/clientLogo/client-logo3.jpg" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img class="img-responsive" src="~/Content/img/clientLogo/client-logo4.jpg" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img class="img-responsive" src="~/Content/img/clientLogo/client-logo5.jpg" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img class="img-responsive" src="~/Content/img/clientLogo/client-logo6.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="title">
                <h2>CONTACT US</h2>
                <p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
            </div>
            <div class="col-md-6 col">
                <!-- map -->
                <div class="map">
                    <div id="googleMap"></div>
                </div><!--/map-->

            </div>
            <div class="col-md-6">
                <form id="form">
                    <input type="text" class="form-control" name="Name" placeholder="name">
                    <input type="text" class="form-control" name="Email" placeholder="email">
                    <textarea class="form-control" rows="3" name="Message" placeholder="message"></textarea>
                    <button class="btn btn-default" type="button" id="sendmail">SEND</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts{
    
<script>
    $(document).ready(function () {
                //$("#success").hide();
                //$("#mailloader").hide();
            });
            $(function () {
                $("#sendmail").click(function () {
                    debugger;
                    //$("#mailloader").show();
                    var form = $("#form").serialize();
                    debugger;

                    $.ajax({
                        type: "POST",
                        url: "/Email/EmailBody",
                        data: form,
                        success: function (response) {
                            debugger;
                            if (response.status == true)
                                console.log(true);
                            //    $("#mailloader").hide();
                            //$("#success").show();
                        }
                        //failure: function (response) {
                        //    alert(response.responseText);
                        //},
                        //error: function (response) {
                        //    alert(response.responseText);
                        //}
                    });
                });
    });
    </script>
    }